<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleOmikuji.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19450D021DB9C39E00A1C4CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19450D161DB9C39E00A1C4CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19450D211DB9C39E00A1C4CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
